@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Description = "School project blog";
    ViewBag.Keyword = "project blog asp.net core";
}



<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Index" asp-route-category="">All</a>
            <a class="text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Index" asp-route-category="Category1">Category1</a>
            <a class="text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Index" asp-route-category="Category2">Category2</a>
            <a class="text-dark dropdown-item" asp-area="" asp-controller="Home" asp-action="Index" asp-route-category="Category3">Category3</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var item in Model.Posts)
            {
                <div class="post-preview">
                    <a asp-action="Post" asp-route-id="@item.Id">
                        <h2 class="post-title">
                            @item.Title
                        </h2>
                        <h5 class="post-subtitle">
                            @item.Category
                        </h5>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">Start Bootstrap</a>
                        on @item.Created.ToString("d")
                    </p>
                </div>
                <hr>
            }
            <!-- Pager -->
            <div class="clearfix">
                @if (Model.PageNumber > 1)
                {
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                }
                else
                {
                    <a class="btn btn-secondary disabled" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
                }
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <a class="btn btn-secondary @(i == Model.PageNumber ? "active" : "")"
                       asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category"
                       asp-route-pageNumber="@i">@i</a>
                }
                @if (Model.NextPage)
                {
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                }
                else
                {
                    <a class="btn btn-secondary disabled" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
                }
                @*<a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>*@
            </div>
        </div>
    </div>
</div>