@model BlogSchoolProj.Models.Post
@{
    ViewData["Title"] = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keyword = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
    var base_path = Context.Request.PathBase;
}

    <div class="container">
        <h1>@Model.Title</h1>
        <h5>@Model.Created</h5>
        <p>@Model.Category</p>
        <br />
        <div class="col-md-6">
            <p class="text-break">@Model.Body</p>
        </div>
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var imagePath = $"{base_path}/Image/{Model.Image}";
            <img class="col-4" src="@imagePath" alt="Alternate Text" />
        }
    </div>
    <hr />
    <br />
    <br />
    <div class="container">
        @foreach (var comm in Model.MainComments)
        {
            <div class="container" style="margin: 15px;">
                <p>
                    @comm.Message
                </p>
                <p class="float-right">Posted: @comm.CreatedComment</p>
            </div>
            <hr />
        }
        @{
            await Html.RenderPartialAsync("Comment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
        }
    </div>
